# vim: ai et ts=2 st=2 sw=2 :
---
- name: find repositories with key_id
  set_fact:
    repo_with_key_url: '{{ packages_ubuntu_repositories | selectattr("key_id", "defined") | selectattr("enabled") | list }}'

# install check mode dependencies

- name: install check mode dependencies python3
  apt:
    name: python3-apt
  check_mode: false
  when: ansible_distribution_version|int > 16

# add repos

- name: add apt keys
  apt_key:
    url: '{{ item.key_url }}'
    id: '{{ item.key_id | default(omit) }}'
  loop: '{{ repo_with_key_url }}'

- name: add repositories
  apt_repository:
    filename: ansible
    repo: '{{ item.repo }}'
    state: '{{ "present" if item.enabled | bool else "absent" }}'
    update_cache: true
  loop: '{{ packages_ubuntu_repositories }}'

# unhold packages

- name: hold packages
  shell: 'apt-mark -s hold {{ item }} && apt-mark hold {{ item }}'
  register: apt_mark_hold
  failed_when: false
  changed_when: apt_mark_hold.rc == 0 and "already" not in apt_mark_hold.stdout
  loop: '{{ packages_ubuntu_hold }}'

- name: unhold packages
  shell: 'apt-mark -s unhold {{ item }} && apt-mark unhold {{ item }}'
  register: apt_mark_unhold
  failed_when: false
  changed_when: apt_mark_unhold.rc == 0 and "already" not in apt_mark_unhold.stdout
  loop: '{{ packages_ubuntu_unhold }}'

# pin packages

- name: pin packages
  template:
    src: ansible
    dest: /etc/apt/preferences.d/ansible

# install packages

- name: install apt packages
  apt:
    name: '{{ packages_ubuntu_install }}'
    update_cache: true
    cache_valid_time: 3600

# hold packages

- name: hold packages
  shell: 'apt-mark -s hold {{ item }} && apt-mark hold {{ item }}'
  register: apt_mark_hold
  failed_when: false
  changed_when: apt_mark_hold.rc == 0 and "already" not in apt_mark_hold.stdout
  loop: '{{ packages_ubuntu_hold }}'

# unattended_upgrades

- name: install unattended upgrades
  apt:
    name: unattended-upgrades
  when: packages_unattended_upgrades

- name: uncomment updates
  replace:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^//(.*distro_codename.*updates.*)$'
    replace: '\1'
  when: not packages_only_security_upgrades

- name: comment updates
  replace:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^[^/](.*distro_codename.*updates.*)$'
    replace: '//\1'
  when: packages_only_security_upgrades

- name: uncomment backports
  replace:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^//(.*distro_codename.*backports.*)$'
    replace: '\1'
  when: packages_ubuntu_update_backports

- name: comment backports
  replace:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^[^/](.*distro_codename.*backports.*)$'
    replace: '//\1'
  when: not packages_ubuntu_update_backports

- name: uncomment automatic reboot
  replace:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^//(.*Automatic-Reboot.*)$'
    replace: '\1'

- name: enable or disable automatic reboot
  replace:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^(U.*Automatic-Reboot.*")(true|false)(".*)$'
    replace: '\1{{ packages_automatic_reboot | string | lower }}\3'

- name: set reboot time
  replace:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '(.*Automatic-Reboot-Time.*)"..\:.."(.*)$'
    replace: '\1"{{ "%02d" | format(packages_automatic_reboot_hour|int) }}:{{ "%02d" | format(packages_automatic_reboot_minute|int) }}"\2'
